.CourseMenu {
  position: absolute;
  z-index: 999;
  background-color: white;
  border-radius: 3px;
  width: 25%;
  height: 90%;
}

.CourseMenu > button {
  width: 100%;
  height: 7%;
  border: none;
  outline-style: none;
  cursor: pointer;
  background-color: #faf0e6;
}
