.SearchBox {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.SearchBox > input {
  width: 100%;
  border: none;
  outline-style: none;
}
