.SearchResultBox {
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid lightgray;
  background-color: #faf0e6;
}

.SearchResultBox::-webkit-scrollbar {
  width: 7px;
}

.SearchResultBox::-webkit-scrollbar-track {
  background-color: none;
}

.SearchResultBox::-webkit-scrollbar-thumb {
  background-color: #ffdab9;
  border-radius: 5px;
}
